* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

::-webkit-scrollbar {
    width: 5px;
    scroll-padding: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px slategrey;
}

::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}